/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  /* тескт основной на странице в абзацах  */
  --text-color: #353430;

  /* текст no focus */
  --main-title-color: #ffc2e6;

  /* выделение под названием абзацев */
  --accent-color: #ff8dcb;

  /* текст на выделенном фоне */
  --highlight-color: #353430;

  /* основной текст страницы */
  --page-font-family: "IBM Plex mono", monospace;

  /* основной фон hero section */
  --page-background-image: url("../images/cover-image-light.png");

  /* основной фон всей страницы */
  --page-background-color: #fff1f7;

  /* декоративный элемент REC */
  --rec-decor-visibility: hidden;

  /* цвет тескта кнопок светлой темы  */
  --color-button-text: #353430;

  /* цвет кнопок при наведении */
  --color-button-hover: #35343040;

  /* цвет декоративных уголков */
  --bracket-color: #353430;

  /* тень текста no focus */
  --shadow-color: #ff8dcb;

  /* Цвет названия секций */
  --section-title-color: #353430;

  /* цвет no focus на малых экранах светлой темы */
  --color-light-nofocus: #ffc2e6;
}

/* делаем правило автовключения */
@media (prefers-color-scheme: light) {
  :root {
    /* тескт основной на странице в абзацах  */
    --text-color: #353430;

    /* текст no focus */
    --main-title-color: #ffc2e6;

    /* выделение под названием абзацев */
    --accent-color: #ff8dcb;

    /* текст на выделенном фоне */
    --highlight-color: #353430;

    /* основной текст страницы */
    --page-font-family: "IBM Plex mono", monospace;

    /* основной фон hero section */
    --page-background-image: url("../images/cover-image-light.png");

    /* основной фон всей страницы */
    --page-background-color: #fff1f7;

    /* декоративный элемент REC */
    --rec-decor-visibility: hidden;

    /* цвет тескта кнопок светлой темы  */
    --color-button-text: #353430;

    /* цвет кнопок при наведении */
    --color-button-hover: #35343040;

    /* цвет декоративных уголков */
    --bracket-color: #353430;

    /* тень текста no focus */
    --shadow-color: #ff8dcb;

    /* Цвет названия секций */
    --section-title-color: #353430;

    /* цвет no focus на малых экранах светлой темы */
    --color-light-nofocus: #ffc2e6;
  }
}

