/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
/* Делаем общие переменныйе переменные */
:root {
  /* ОСНОВНЫЕ ПЕРЕМЕННЫЕ */

  /* тескт основной на странице в абзацах  */
  --text-color: #f1b2ce;

  /* текст no focus */
  --main-title-color: #db00ff;

  /* тень текста no focus */
  --shadow-color: #ff0070;

  /* выделение под названием абзацев */
  --accent-color: #ff0070;

  /* текст на выделенном фоне */
  --highlight-color: #000028;

  /* основной текст страницы */
  --page-font-family: "IBM Plex mono", monospace;

  /* основной фон hero section */
  --page-background-image: url("../images/cover-image-dark.png");

  /* основной фон всей страницы */
  --page-background-color: #000028;

  /* декоративный элемент REC */
  --rec-decor-visibility: visible;

  /* цвет тескта кнопок темной темы  */
  --color-button-text: #ff0070;

  /* цвет кнопок при наведении */
  --color-button-hover: #ff007040;

  /* цвет декоративных уголков */
  --bracket-color: #ff0070;

  /* тень текста no focus */
  --shadow-color: #ff0070;

  /* Цвет названия секций */
  --section-title-color: #ff0070;
}
